.content::after {
  content: '';
  background: url('../../../../assets/img/taskBackground.jpg');
  background-size: cover;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

input,
select,
textarea {
  background-color: rgba(34, 36, 38, 0.1);
  opacity: 0.8;
  border-radius: 5%;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: #1894e8;
}

.newTask-title {
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  text-shadow: 5px 5px 5px lightcyan;
  color: #0c0e1ff2;
}

.wrapper {
  display: none; /* Changes to 'block' after page content is loaded */
  font-size: 18px;
  font-weight: bold;
}

.task-icon {
  display: none;
}

.icon.tasks {
  font-size: 15em !important; /* !important - needed, because of 3rd party library */
  color: #71b7ce;
  border: 5px solid #71b7ce;
  border-radius: 20%;
  box-shadow: 10px 10px 10px lightslategray, 15px 15px 15px lightslategray inset,
    -5px -5px 10px lightslategrey inset;
}

.task-elements-wrapper {
  position: relative;
  width: 90%;
  margin: auto;
}

.task-elements,
.task-elements-form {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}

.task-elements {
  padding: 20px;
  border: 5px solid #71b7ce;
  border-radius: 3%;
  box-shadow: 10px 10px 10px lightslategray, 15px 15px 15px lightslategray inset,
    -5px -5px 10px lightslategrey inset;
  color: black;
  font-family: monospace;
  text-shadow: 2px 2px 2px white;
}

.data-module {
  display: grid;
  grid-template-columns: 100%;
  gap: 5px;
}

.assigned-select {
  margin-bottom: 20px;
}

.add-task-btn {
  width: 100%;
  background: rgba(0, 0, 0, 0.66);
  padding: 2px;
  border: 2px gray outset;
  outline: gray outset;
  color: #d6d8c8;
  text-shadow: 2px 2px 3px black;
  font-family: monospace;
  cursor: pointer;
}

.description-short-input-valid:valid {
  outline: 3px solid rgb(8, 158, 33);
}

.description-short-input-invalid:invalid {
  outline: 3px solid rgb(224, 24, 24);
}

.required-info {
  justify-self: center;
  margin-bottom: 150px;
}

.saved-info {
  display: none;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 10%;
  background-color: #4caf50;
  border-radius: 5%;
  box-shadow: 5px 5px 10px black;
  font-size: large;
  text-align: center;
}

.saved-info-visible {
  display: block;
}

/****** MEDIA QUERIES ******/
@media screen and (min-width: 400px) {
  .newTask-title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 600px) {
  html,
  body {
    height: fit-content;
  }

  .saved-info {
    font-size: x-large;
  }

  .task-icon {
    display: grid;
    grid-template-columns: 100%;
    margin: 30px auto;
    width: 50%;
    justify-items: center;
  }

  .task-elements-wrapper {
    margin-top: 20px;
    width: 80%;
  }

  .add-task-btn {
    width: 40%;
    justify-self: center;
  }
}

@media screen and (min-width: 800px) {
  .task-elements-wrapper {
    width: 70%;
  }

  .task-elements {
    border: 7.5px solid #71b7ce;
  }
}

@media screen and (min-width: 1000px) {
  .task-elements-wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .task-elements-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .task-elements-wrapper {
    width: 40%;
  }
}
