#list-title {
  margin: 25px auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: rgba(18, 60, 123, 0.932);
  text-shadow: 2px 2px 5px #8db6d8, 2px 2px 5px white, 2px 2px 5px white;
}

.task-module {
  display: grid;
  grid-template-columns: 20% 68% 12%;
  margin-bottom: 20px;
  border: 2px solid #7b5529;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
  background-color: #a0aaaf;
}

.task-status,
.task-description {
  padding: 10px;
}

.task-description {
  background-color: #a0aaaf;
}

.deleteBtn {
  justify-self: right;
  align-self: center;
  margin-right: 5%;
  border: 1px solid #003cff;
  background-color: #0083ff;
  padding: 5px;
  border-radius: 20%;
}

/****** MEDIA QUERIES ******/
@media screen and (min-width: 600px) {
  .page-wrapper {
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  .page-wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 800px) {
  .page-wrapper {
    width: 70%;
  }
}

@media screen and (min-width: 800px) {
  .page-wrapper {
    width: 70%;
  }
}

@media screen and (min-width: 900px) {
  .page-wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .page-wrapper {
    width: 50%;
  }
}
