.container {
    width: 100%;
    height: auto;
    padding: 2% 20% 2% 20%;
    color: rgb(0, 0, 0);
    text-align: center;
}

.fa-user-plus, .fa-user, .fa-vcard {
    font-size: 100px;
}

#register-login{
    color: blue;
    cursor: pointer;
}

#msg {
    color: red;
    font-size: 12px;
}

.input-group-text {
    width: 130px;
}
