.modal-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: grid;
  margin: 200px auto;
  padding: 30px;
  width: 70%;
  background-color: #dc968c;
  border: transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.2),
    5px 7px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}

/****** MODAL MODULES ******/
.modal-module-wrapper {
  padding: 10px;
  border-bottom: 1px solid #135690d9;
}

.modal-title {
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
}

.weight-wrapper {
  margin-bottom: 50px;
}

.assigned-list {
  list-style-type: circle;
}

.descrShort {
  color: #135690d9;
}

/****** MODAL BUTTONS ******/
.closeBtn {
  justify-self: end;
  font-size: 30px;
  font-weight: 900;
  color: black;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #cddc39;
  text-decoration: none;
  cursor: pointer;
}

.start-task-btn {
  margin-right: 0;
  padding: 5px;
  background: rgb(140, 134, 134);
  border: 2px gray outset;
  outline: gray outset;
  color: #d6d8c8;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
  font-family: monospace;
  cursor: pointer;
}

.start-task-btn:hover {
  color: black;
  text-shadow: 2px 2px 3px white;
}

/****** MEDIA QUERIES ******/
@media screen and (min-width: 800px) {
  .modal-content {
    width: 65%;
    border-radius: 20px;
  }
}

@media screen and (min-width: 900px) {
  .modal-content {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .modal-content {
    width: 50%;
    border-radius: 30px;
  }
}
